doctype html
html
  head
    title Chat
  body
    h1 Chat Room

ul#messages
  each message in -messages
    li= message

    form#sendForm(method='post' action='/send')
      input#message(type='text' name='message')
      button(type='submit') Send

    form#saveForm(method='post' action='/save')
      button(type='submit') Save

    script.
      const messagesList = document.getElementById('messages');
      const messageInput = document.getElementById('message');
      const sendForm = document.getElementById('sendForm');
      const saveForm = document.getElementById('saveForm');


      function addMessage(message) {
        const li = document.createElement('li');
        li.textContent = message;
        messagesList.appendChild(li);
      }


      function poll() {
        fetch('/poll', {
          headers: {
            'Last-Message-Count': messagesList.children.length
          }
        }).then((response) => {
          if (response.status === 200) {

            fetch('/all').then((response) => {
              response.json().then((messages) => {
                for (let i = messagesList.children.length; i < messages.length; i++) {
                  addMessage(messages[i]);
                }
                poll();
              });
            });
          } else if (response.status === 404) {

            setTimeout(poll, 1000);
          }
        });
      }


      poll();


      sendForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const message = messageInput.value;
        messageInput.value = '';
        fetch('/send', {
          method: 'POST',
          body: JSON.stringify({ message }),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then((response) => {
          if (response.status === 200) {
            addMessage(message);
          }
        });
      });

      saveForm.addEventListener('submit', (event) => {
        event.preventDefault();
        fetch('/save', {
          method: 'POST'
        }).then((response) => {
          if (response.status === 200) {
            alert('Chat messages saved!');
          }
        });
      });
