//- template.pug
div
  span London: #{londonTime.toLocaleTimeString()}
  span EST: #{estTime.toLocaleTimeString()}
  span Nigeria: #{nigeriaTime.toLocaleTimeString()}
  span Pakistan: #{pakistanTime.toLocaleTimeString()}
