if condition == 'Sunny'
  img(src='sun.png')
else if condition == 'Rainy'
  img(src='cloud.png')
else if condition == 'Snowy'
  img(src='snowflake.png')

p The current temperature is #{temperature}°C.
